body {
	padding: 10px 200px 10px 200px;
}

span {
	font-weight: bold;
}

.paragraph {
	font-family: sans-serif;
	font-size: 110%;
}
p.second {
	word-spacing: 20px;
}

p.welcome {
	font-weight: bold;
	text-align: right;
}

div.lines {
	display: flex;
}

img {
	flex: 1;
	width: 135px;
	height: 135px;
}

.images {
	flex: 1;
	margin: 20px;
	display: inline-block;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.footer {
	text-align: center;
	margin-top: 10px auto;
	vertical-align: 10px;
}

ul {
	text-align: center;
}

li {
	list-style-type: none;
	display: inline;
	margin: 20px;
}